<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="application.Launcher" />
    <module name="base-converter" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>